# Tugas III

### Entropy & Information Gain

Algoritma pada metode ini menggunakan konsep dari entropi. Konsep Entropi yang digunakan untuk mengukur “seberapa informatifnya” sebuah node (yang biasanya disebut seberapa baiknya).

+ Entropi(S) = 0, jika semua contoh pada S berada dalam kelas yang sama.
+ Entroiy(S) = 1, jika jumlah contoh positif dan jumlah contoh negatif dalam S adalah sama.
+ 0 < Entropi(S) < 1, jika jumlah contoh positif dan negatif dalam S tidak sama.

![](https://informatikalogi.com/wp-content/uploads/2017/07/entropi.jpg)

Dimana:

+ S adalah himpunan (dataset) kasus
+ k adalah banyaknya partisi S
+ pj adalah probabilitas yang di dapat dari Sum(Ya) dibagi Total Kasus.

Setelah mendapat nilai entropi, pemilihan atribut dilakukan dengan nilai information gain terbesar.

gain decision tree
information gain

Dimana:

![](https://informatikalogi.com/wp-content/uploads/2017/07/gain-decision-tree.jpg)

+ S = ruang (data) sample yang digunakan untuk training.
+ A = atribut.
+ |Si| = jumlah sample untuk nilai V.
+ |S| = jumlah seluruh sample data.
+ Entropi(Si) = entropy untuk sample-sample yang memiliki nilai i

## Contoh

Data yang telah ada pada Tabel dibawah akan digunakan untuk membentuk pohon keputusan dimana memiliku atribut-atribut seperti Cuaca, Suhu, Kelembaban, dan Berangin. Setiap atribut memiliki nilai. Sedangkan kelasnya ada pada kolom Main yaitu kelas “Tidak” dan kelas “Ya”. Kemudian data tersebut dianalisis; dataset tersebut memiliki 14 kasus yang terdiri 10 “Ya” dan 4 “Tidak” pada kolom Main.

![](https://informatikalogi.com/wp-content/uploads/2017/07/Learning-Dataset-1.jpg)


Kemudian hitung entropi dengan rumus seperti diatas.

> Entropi (S) = (-(10/14) x log2 (10/14) + (-(4/10) x log2 (4/10)) = 0.863120569


![](https://informatikalogi.com/wp-content/uploads/2017/07/Hasil-Perhitungan-pada-Dataset-1.jpg)
<center>hasil perhitungan entropi</center>

Setelah mendapatkan entropi dari keseluruhan kasus, lakukan analisis pada setiap atribut dan nilai-nilainya dan hitung entropinya.

![](https://informatikalogi.com/wp-content/uploads/2017/07/Analisis-Atribut-Nilai-Banyaknya-Kejadian-Nilai-Entropi-dan-Gain-1.jpg)
analisis atribut, nilai, banyaknya kejadian, entropi dan gain

Setelah mendapatkan nilai entropy, berikutnya hitung nilai information gain dari setiap variabel.

> Gain (Cuaca) = 0.863120569 –  ((4/10) x 0 + (5/14) x 0.721928095 + (5/14) x 0.970950594) = 0.258521037

## Implementasi

In [22]:
from pandas import*
from math import log
from sklearn.feature_selection import mutual_info_classif

df = read_csv("BAB III.csv", sep=';')
df

      Cuaca    Suhu Kelembapan Berangin   Main
0     Cerah   Panas     Tinggi    Salah  Tidak
1     Cerah   Panas     Tinggi    Benar  Tidak
2   Berawan   Panas     Tinggi    Salah     Ya
3     Hujan   Sejuk     Tinggi    Salah     Ya
4     Hujan  Dingin     Normal    Salah     Ya
5     Hujan  Dingin     Normal    Benar     Ya
6   Berawan  Dingin     Normal    Benar     Ya
7     Cerah   Sejuk     Tinggi    Salah  Tidak
8     Cerah  Dingin     Normal    Salah     Ya
9     Hujan   Sejuk     Normal    Salah     Ya
10    Cerah   Sejuk     Normal    Benar     Ya
11  Berawan   Sejuk     Tinggi    Benar     Ya
12  Berawan   Panas     Normal    Salah     Ya
13    Hujan   Sejuk     Tinggi    Benar  Tidak

In [17]:
def findEntropy(column):
    rawGroups = df.groupby(column)
    targetGroups = [[key, len(data), len(data)/df[column].size] for key,data in rawGroups]
    targetGroups = DataFrame(targetGroups, columns=['Data', 'N', 'Peluang'])
    return sum([-x*log(x,2) for x in targetGroups['Peluang']]), targetGroups, rawGroups

entropyTarget, groupTargets, _ = findEntropy('Main')
print('entropy target =', entropyTarget)
groupTargets

entropy target = 0.863120568566631

    Data   N   Peluang
0  Tidak   4  0.285714
1     Ya  10  0.714286

In [18]:
def findGain(column):
    entropyOutlook, groupOutlooks, rawOutlooks = findEntropy(column)
    print(groupOutlooks)
    gain = entropyTarget-sum(len(data)/len(df)*sum(-x/len(data)*log(x/len(data),2) 
                for x in data.groupby('Main').size()) for key,data in rawOutlooks)
    print("gain",column,"=",gain)
    print()
    return gain

gains = [[x,findGain(x)] for x in ['Cuaca','Suhu','Kelembapan','Berangin']]
DataFrame(gains)

      Data  N   Peluang
0  Berawan  4  0.285714
1    Cerah  5  0.357143
2    Hujan  5  0.357143
gain Cuaca = 0.2585210366587628

     Data  N   Peluang
0  Dingin  4  0.285714
1   Panas  4  0.285714
2   Sejuk  6  0.428571
gain Suhu = 0.18385092540042125

     Data  N  Peluang
0  Normal  7      0.5
1  Tinggi  7      0.5
gain Kelembapan = 0.3705065005495052

    Data  N   Peluang
0  Benar  6  0.428571
1  Salah  8  0.571429
gain Berangin = 0.0059777114237739015

            0         1
0       Cuaca  0.258521
1        Suhu  0.183851
2  Kelembapan  0.370507
3    Berangin  0.005978